{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Mengelola Tim</title>

{% endblock meta %}

{% block content %}
<div class="flex justify-center p-16">
    <h1 class="text-4xl font-bold">
        Form Registrasi
    </h1>
</div>

<div class="flex justify-center p-16">
  <div class="form-control w-full max-w-xs">
      <label class="label">
        <span class="label-text">Nama Tim :</span>
      </label>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
      <label class="label">
        <span class="label-text">Nama Universitas :</span>
      </label>
      <input type="text" placeholder="Type here" class="input input-bordered w-full max-w-xs" />
      <div class="flex justify-center p-16 space-x-4">
        <button type="button" class="btn btn-secondary"><a href="{% url 'mengelola_tim:list_tim' %}">Daftar</a></button>
      </div>
      
    
  </div>
  
    
    
</div>

{% endblock content %}