{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>History Rapat</title>

{% endblock meta %}

<!-- Rapat Tim Nama
Pantitia
Stadium Tanggal dan Waktu Action -->

{% block content %}
<div class="flex justify-center p-16">
    <h1 class="text-4xl font-bold">
        History Rapat
    </h1>
</div>
<!-- <div class="flex justify-center">
    <div class="text-sm breadcrumbs">
        <ul>
          <li><a>Home</a></li> 
          <li><a>Documents</a></li> 
          <li>Add Document</li>
        </ul>
      </div>
</div> -->
<div class="overflow-x-auto px-8 py-4">
    <table class="table table-zebra w-full border-2 border-primary-content rounded-md">
      <!-- head -->
      <thead>
        <tr>
          <th>Rapat Tim</th>
          <th>Nama Panitia</th>
          <th>Stadium</th>
          <th>Tanggal dan Waktu</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <!-- row 1 -->
        <tr>
          <td>Cy Ganderton</td>
          <td>Quality Control Specialist</td>
          <td>Blue</td>
          <td></td>
          <td></td>
        </tr>
        <!-- row 2 -->
        <tr>
          <td>Hart Hagerty</td>
          <td>Desktop Support Technician</td>
          <td>Purple</td>
          <td></td>
          <td></td>
        </tr>
        <!-- row 3 -->
        <tr>
          <td>Brice Swyre</td>
          <td>Tax Accountant</td>
          <td>Red</td>
          <td></td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </div>
{% endblock content %}

