{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>List Pemesanan</title>

{% endblock meta %}

{% block content %}

<div class="flex justify-center p-16">
    <h1 class="text-4xl font-bold">
        List Pemesanan

    </h1>
</div>

<div class="overflow-x-auto px-24 py-4 pb-8">
    <div class="shadow-xl">
      <div style="overflow-x: auto;">
        <table class="table table-zebra w-full rounded-md" >
          <!-- head -->
          <thead>
            <tr>
                <th class="bg-base-300">Stadium</th>
              <th class="bg-base-300" >Waktu</th>
            </tr>
          </thead>
    
          <tbody>
            {% if list_stadium|length != 0 %}
                {% for data in list_stadium %}
            
                <tr>
                <td>{{data.1}}</td>
                <td>{{data.2}}</td>
                </tr>
                
                {% endfor %}
            {% else %}
                <tr>
                <td colspan="4" class="text-center">Anda belum pernah meminjam stadium</td>
                </tr>
            {% endif %}

          </tbody>
          <thead>
            <tr>
              <th class="bg-base-300" colspan="4"></th>
            </tr>
          </thead>
        </table>
      </div>
      
    </div>
    <div class="flex justify-center p-16 space-x-4">
        <a href="{% url 'peminjaman_stadium:pilih_stadium' %}"><button class="btn btn-primary">Pesan</button></a>
    </div> 
    </div>
      

{% endblock content %}

